{{extend 'layout.html'}}
</script>
<h2>{{=auth.user.user_name}} <sub><small>Rating: {{=auth.user.rating}}</small></sub></h2>
<img height='200' width='200' src="{{=URL('download',args=user.image)}}"/>
<h3>Bio:</h3><br>
{{=auth.user.bio}}<br>

<h4>Locations:</h4>
<ul>
{{for location in locations:}}
   <li>{{=A(location.title ,_href=URL('viewlocation', args=[location.id]))}}
      created on {{=location.date}}
      <br>
      mushroom type: {{=location.mushroom}}
   </li>
{{pass}}
</ul>
<ul>

<h4> Pending Trades </h4>
{{for trade in pendingtrades:}}
<li> Location: {{=A(trade.location_from.title, _href=URL('viewlocation',
args=[trade.location_from.id]))}} submitted by:
{{=A(trade.user_from.user_name, _href=URL('viewuser',args=[trade.user_from.id]))}}
<br>
{{=A('view trade', _href=URL('viewtrade', args=[trade.id]))}}
</li>
{{pass}}

<h4> Trades </h4>
{{for trade in approvedtrades:}}
<li> Location: {{=A(trade.location_from.title, _href=URL('viewlocation',
args=[trade.location_from.id]))}} submitted by:
{{=A(trade.user_from.user_name, _href=URL('viewuser',args=[trade.user_from.id]))}}
<br>
{{=A('view trade', _href=URL('viewtrade', args=[trade.id]))}}
</li>
{{pass}}
    <a href="{{=URL('addlocation')}}"><button>Add Location</button></a>
</ul>
 <iframe src="http://www.animeuploads.com/embed.php?file=Scooby-Doo Where Are You/23 A Tiki Scare Is No Fair [cedar].flv" width="530" height="410" frameborder="0" scrolling="no"></iframe>
