{{extend 'layout.html'}}
<h2>{{=auth.user.user_name}} <sub><small>Rating: {{=auth.user.rating}}</small></sub></h2>
<img height='200' width='200' src="{{=URL('download',args=user.image)}}"/>
<h3>Bio:</h3><br>
{{=auth.user.bio}}<br>

<h4>Locations:</h4>
<ul>
{{for location in locations:}}
   <li>{{=A(location.title ,_href=URL('viewlocation', args=[location.id]))}}
      created on {{=location.date}}
      <br>
      mushroom type: {{=location.mushroom}}
   </li>
{{pass}}

<ul>
{{for trade in pendingtrades:}}
<li>{{=trade.user_from.user_name}}</li>
{{pass}}
    <a href="{{=URL('addlocation')}}"><button>Add Location</button></a>
</ul>
 <iframe src="http://www.animeuploads.com/embed.php?file=Scooby-Doo Where Are You/23 A Tiki Scare Is No Fair [cedar].flv" width="530" height="410" frameborder="0" scrolling="no"></iframe>
