{{extend 'layout.html'}}
<script>
function showPosition()
{
var latlon={{=location.latitude}}+","+{{=location.longitude}};

var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
+latlon+"&zoom=14&size=400x300&sensor=false";

document.getElementById("mapholder").innerHTML="<img src='"+img_url+"'>";
}
</script>
<h2>{{=location.title}} <sub><small>Rating: {{=location.rating}}</small></sub></h2>
<h4><i>{{=location.mushroom}}</i></h4>
<hr>submitted by {{=A(location.user.user_name, _href = URL('viewuser',
args=[location.user.id]))}} on {{=location.date}}<br>
<img src="{{=URL('download',args=location.photo)}}" />
<p>{{=location.note}}</p>
<hr>
{{if fullview:}}

<script>
showPosition()
</script>
GPS Coordinates: {{=location.latitude}} {{=location.longitude}}
{{if form:}}
{{=form}}
{{pass}}
{{else:}}
{{session.location =location.id}}
<a href="{{=URL('trade')}}"><button>Trade Location</button></a>
{{pass}}
{{pass}}
