{{extend 'layout.html'}}
Subject: <strong>{{=message.subject}}</strong><br>
From: <a href="{{=URL('viewuser', args=message.user_from)}}"><img height='40' width='40' src="{{=URL('download',args=sender.image)}}"/> <strong>{{=sender.user_name}}</strong></a><br>
<hr>
Message: <p>{{=message.note}}</p>
<hr>
Sent on: {{=message.date}}
<br>
<a href="{{=URL('messages', args =[0,0])}}"><button>Back</button></a>
<a href="{{=URL('newmessage', args =['reply', message.id])}}"><button>Reply</button></a>

{{=delete}}
