{{extend 'layout.html'}}
<h1> {{=user.user_name}}'s locations </h1>
{{for location in locations:}}
   <h2>{{=A(location.title ,_href=URL('viewlocation', args=[location.id]))}}
      created on {{=location.date}}
      <br>
      mushroom type: {{=location.mushroom}}
   </h2>
{{pass}}


<p>{{=A('prev' ,_href=URL('viewlocations', args=[user.id, page - 1]))}} {{=A('next' ,_href=URL('viewlocations', args=[user.id, page + 1]))}} </p>

<a href="{{=URL('addlocation')}}"><button>Add Location</button></a>
   
