<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Harvest
Version    : 1.0
Released   : 20081106
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>


<script type="text/javascript">
(function() {
    if (typeof window.janrain !== 'object') window.janrain = {};
    if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
    
    janrain.settings.tokenUrl = 'http://127.0.0.1:8000/Forager/default/index';

    function isReady() { janrain.ready = true; };
    if (document.addEventListener) {
      document.addEventListener("DOMContentLoaded", isReady, false);
    } else {
      window.attachEvent('onload', isReady);
    }

    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.id = 'janrainAuthWidget';

    if (document.location.protocol === 'https:') {
      e.src = 'https://rpxnow.com/js/lib/forager/engage.js';
    } else {
      e.src = 'http://widget-cdn.rpxnow.com/js/lib/forager/engage.js';
    }

    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(e, s);
})();
</script>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/FCTHarvest/default.css'))}}
  {{response.files.append(URL('static','plugin_layouts/superfish.js'))}}
  {{include 'web2py_ajax.html'}}
  <style>
ul.web2py-menu-vertical { width: 150px; position: relative; top:1em; left:1em;  z-index:30; border:0; margin:0; padding: 0; list-style: none; text-decoration: none;}
ul.web2py-menu-vertical li { margin:0; padding:0; border:0; width: 150px; background: black; text-align:left;}
ul.web2py-menu-vertical li a { margin:0; padding: 1px 3px 1px 3px; border:0; width: 144px; color: white; font-size:12px;}
div.flash { position: fixed; float: right; padding: 10px; top: 10px; right: 30px; opacity: 0.75; margin: 10px 10px 10px 10px; text-align: center; clear: both; color: #fff; font-size: 11pt; text-align: center; vertical-align: middle; cursor: pointer; background: black; border: 2px solid #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 2; }
div.error { background-color: red; color: white; padding: 3px; }
.auth_navbar { text-align:right; z-index:20; position: absolute; top: 2px; right:30px; border:0; padding:0 }
  </style>

<!-- Search bar code -->
    <script type="text/javascript" src="{{=URL(r=request,c='static',f='jquery.js')}}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function(){
        hide();
    });

    function getData(value){
        if(value != ""){
            $("#ajaxresults").show();
            $.post("{{=URL(r=request,f='ajaxlivesearch')}}",{partialstr:value},function(result){
                $("#ajaxresults").html(result);
            });
        }else{
            hide();
        }
    }

    function hide(){
        $("#ajaxresults").hide();
    }

    function copyToBox(value){
        $("#location").val(value);
        hide();
    }   
    function searchclick(){
      val = $("#location").val();
      if (!val) val = 'all';
      window.location.pathname =  'Forager/default/search/0/' + val;
      return false;
    }
    </script>
<!-- Search bar code -->


 </head>
 <body>
  <!-- start header -->
  {{try:}}{{=auth.navbar(action=URL('default','user'))}}{{except:pass}}

  <div id="logo-wrap">
   <div id="logo">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
  </div>
  <!-- start header -->
  <div id="header">
   <div id="menu">
    {{=MENU(response.menu,_class='web2py-menu')}}
    <script>
      jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
    </script>
   </div>
  </div>
  <!-- end header -->
  <!-- start page -->
  <div id="wrapper">
   <div id="wrapper-btm">
    <div id="page">
     <!-- start content -->
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
     <!-- end content -->
     <!-- start sidebar -->
     <div id="sidebar">
      <ul>
       <li id="search">
        <h2>
         <label for="location">Search:</label>
        </h2>
        <input type="text" id="location" name="location" autocomplete="off" onkeyup="getData(this.value);" /><br />
         
        <input type="button" id="submit" value="Search" onclick= "searchclick()"/>
        <div id="ajaxresults"></div>
           {{#=A(XML('<input type="submit" id="x" value="Search"/>'),_href=)}}
       </li>
        
       
       <li>
        <h2>
         Recent Finds:
        </h2>
        <ul>
         {{if type(db) != type("hello"):}}
         {{locations=db(db.location).select(orderby=~db.location.date|db.location.rating)}}
         {{for (i,location) in enumerate(locations):}}
         {{if i >= 10:}}
            {{break}}
            <li>{{=A(location.title,
_href=URL('viewlocation',args=[location.id]))}}<br><sup><small> by: {{=location.user.user_name}}
on {{=location.date.date()}}</small></sup></li>
        {{pass}}  
         {{pass}}
         {{pass}}
         {{pass}}
        </ul>
       </li>
      </ul>
     </div>
     <!-- end sidebar -->
     <div style="clear: both;">
      &nbsp;
     </div>
    </div>
    <!-- end page -->
   </div>
  </div>
  <!-- start footer -->
  <div id="footer">
   <div id="footer-wrap">
    <p id="legal">
        &copy 2012 Forager. Written by: 
        <a href="http://people.ucsc.edu/~aseine">
        Aidan S.
        </a> and 
        <a href="http://people.ucsc.edu/~llevenbe">
        Ace L.
        </a> Design by
     <a href="http://www.freecsstemplates.org/">
      Free CSS Templates
     </a>
     .
    </p>
   </div>
  </div>
  <!-- end footer -->
 </body>
</html>
